<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game.ControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Game.DebugPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game.ControlPanel.Properties.Settings>
            <setting name="ServiceBaseUrl" serializeAs="String">
                <value>http://localhost:60044/</value>
            </setting>
            <setting name="DemoClientPath" serializeAs="String">
                <value>..\..\..\Game.ClientHandler\launch.bat</value>
            </setting>
            <setting name="ProxyNeedsPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
        </Game.ControlPanel.Properties.Settings>
        <Game.DebugPanel.Properties.Settings>
            <setting name="ServiceBaseUrl" serializeAs="String">
                <value>http://localhost:60044/</value>
            </setting>
        </Game.DebugPanel.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDebugService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60044/DebugService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDebugService" contract="DebugServiceRef.IDebugService"
                name="BasicHttpBinding_IDebugService" />
        </client>
    </system.serviceModel>
</configuration>